main {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 30% 0 0;
}

.home-img {
    width: 33em;
}

.text-block {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    line-height: 3rem;
    text-align: center;
    font-weight: 700;
    margin: .5rem 0;
}
p{
    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 55%);
    font-weight: 500;
    line-height: 1.9rem;
    width: 90%;
    margin: auto;
}
.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
button {
    background: hsl(180, 66%, 49%);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
}

#stats {
    position: relative;
    margin: 3rem 0;
}

#stats ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stats .top-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#stats .top-title h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

#stats ul li {
    background: #fff;
    display: flex;
    position: relative;
    z-index: 1;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 1rem;
}

#stats ul li div.img {
    background: hsl(257, 27%, 26%);
    padding: 20px;
    width: 3em;
    height: 3em;
    position: absolute;
    top: -25%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

#stats ul li div.img img {
    width: 2.5em;
    height: 2.5em;
}

#stats ul li div.text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

#stats ul li div.text-card h3{
    font-size: 20px;
}

#stats ul li div.text-card p{
    font-size: 16px;
    line-height: 1.5rem;
}

div.behind-bar {
    height: 7px;
    border: none;
    z-index: 1;
    background: hsl(180, 66%, 49%);
    width: .5rem;
    height: 50%;
    position: absolute;
    left: 49%;
    top: 40%;
}

@media screen and (min-width: 1024px) {
    .text-block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40%;
    }
    .text-block h1 {
        font-size: 3.5em;
        line-height: 4rem;
    }
    .button-wrapper {
        justify-content: flex-start;
    }
    .text-block h1,
    .text-block p {
        text-align: left;
        margin: 0;
    }

    #home {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }

    #home button {
        transition: all .1s ease-in-out;
    }

    #home button:hover {
        background: hsl(180, 66%, 69%);
    }

    .top-title {
        font-size: 22px;
    }
    .top-title h2 {
        margin: 1rem;
    }
    .top-title p {
        width: 40%;
    }

    #stats ul {
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        align-items: flex-start;
        margin: auto;
    }
    #stats ul li {
        justify-content: flex-start;
        align-items: flex-start;
        width: 360px;
    }
    #stats ul li div.text-card h3,
    #stats ul li div.text-card p {
        width: 90%;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    #stats li:nth-child(2) {
        margin: 12rem 0 0;
    }
    #stats li:last-child {
        margin: 19rem 0 0;
    }

    #stats ul li div.img {
        left: 5%;
    }
    div.behind-bar {
        height: .5rem;
        width: 50%;
        top: 70%;
        left: 30%;
    }
}